<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon-16x16.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Papagaio</title>
</head>

<body>

    <div class="container">
	<img src="favicon.ico" alt="papagaio">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">Papagaio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" id="nav_home">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav_tts">TTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav_stt">STT</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="jumbotron">
            <div id="home">
                <h1> Papagaio </h1>
		        <h3>Software para repetir em áudio o que se digita, e para repetir em texto o que se fala.</h3>
			Criado como trabalho final em grupo da disciplina de Computação Cognitiva 2 da pós em Inteligência Artificial do IESB<p/>
			<h4>Integrantes do grupo:</h4>
			<ul>
			    <li>Aristóteles Reis de Sousa</li>
			    <li>Kleber de Barros Alcanfor</li>
			    <li>Marcelo Amarante Ferreira Gomes</li>
			    <li>Toni Patrick Falcão</li>
			</ul>
            </div>
            <div id="tts">
                <h1>
                    TTS - Text To Speech
                </h1>
                <textarea id="texto" rows=10 cols=70>Digite aqui o texto a ser reproduzido em voz ao se pressionar o botão "Converter".</textarea><br/>
                <br>
                <button type='button' id='convertButton'>Converter</button>
                <br><br>
                <audio id="audioTTS" src="" controls='true'>
                    O seu navegador não suporta o elemento <code>audio</code>.
                </audio>
            </div>
            <div id="stt">
                <h1>
                    STT - Speech To Text
                </h1>
                        
                <div id="controls">
                    <button id="recordButton">Record</button>
                    <button id="pauseButton" disabled>Pause</button>
                    <button id="stopButton" disabled>Stop</button>
                </div>
                   <div id="formats">Format: start recording to see sample rate</div>
                 <br>
                <div id="transcipt">
                <p><strong>Transcrição</strong></p>
                <span id="textoAudio">{{message}}</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/control.js"></script>
    
</body>
</html>
